<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<meta charset="utf-8">

<body>
	<div th:fragment="conteudo">
		<div class="general">
			<div class="menu-bar">
				<a href="/pedido-listagem"><i class="material-icons">format_align_justify</i></a>
				<a href="/pedido-adicionar"><i class="material-icons">add_box</i></a>
			</div>

			<div class="form-update">
				<h2 class="title-section">Atualizar Pedido</h2>
				<div class="form-user-register">
					<form class="form" action="" method="POST" role="form" th:object="${pedido}">
						
						<input type="hidden" th:field="*{idPedido}">
						<input type="hidden" th:field="*{estadoCozinha}">
						<input type="hidden" th:field="*{estadoPedido}">

						<div class="form-group-general">
							<div class="form-group columns-25">
								<label for="numeroMesa" class="col-form-label">Número da
									Mesa</label>
								<div>
									<select class="form-control" th:field="*{idMesa}" id="numeroMesa" required>
										<option th:each="mesa:${mesas}" th:value="${mesa.idMesa}" th:text="${mesa.idMesa}"></option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group-general" th:object="${item}">
							<div class="form-group columns-50">
								<label for="prodComida" class="col-form-label">Produto</label>
								<div>
									<select class="form-control" th:field="*{idProduto}" id="numeroMesa" required>
										<option th:each="produto:${produtos}" th:value="${produto.idProduto}" th:text="${produto.nomeProduto}"></option>
									</select>
								</div>
							</div>

							<div class="form-group columns-25">
								<label for="quantidadeComida" class="col-form-label" >Quantidade</label>
								<div>
									<input th:field="*{quantidade}" type="text" class="form-control" id="quantidadeComida">
								</div>
							</div>

							<div class="form-group columns-25">
								<label id="adicionar" class="col-form-label">adicionar</label>
								<div>
									<button class="btn btn-primary w-100 text-center button-form" type="submit" name="addItem">Adicionar</button>
								</div>
							</div>
						</div>

						<div class="form-group-general">
							<table class="table table-hover columns-100">
								<thead>
									<tr>
										<th>Produto</th>
										<th>Quantidade</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="item : ${pedido.itens}" th:object="${item}">
										<td th:text="${produtos.get(item.idProduto-1).getNomeProduto()}"></td>
										<td th:text="*{quantidade}"></td>
									</tr>
								</tbody>

							</table>
                        </div>

						<button type="submit" class="btn btn-primary my-3">Alterar Pedido</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>