<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<meta charset="utf-8">

<body>
	<div th:fragment="conteudo">
		<div class="general">
			<div class="menu-bar">
				<a href="/pedido-listagem"><i class="material-icons">format_align_justify</i></a>
				<a href="/pedido-adicionar"><i class="material-icons">add_box</i></a>
			</div>

			<div class="table-data">
				<h2 class="title-section">Lista de Pedidos</h2>
				<div class="cards-order cards-auto">

					<div class="box" th:each="pedido : ${pedidos}">
						<div class="header-box"></div>
						<div class="ball-edit reverse-ball">
							<a th:href="@{/excluir-pedido(id=*{pedido.idPedido})}">
								<i class="material-icons">clear</i>
							</a>
						</div>
						<div class="ball-edit">
							<a th:href="@{/pedido-atualizar(id=*{pedido.idPedido})}">
								<i class="material-icons">edit</i>
							</a>
						</div>
						<div class="ball-header">
							<p th:text="${pedido.idMesa}"></p>
						</div>
						<div class="outer-info">
							<h2 th:text="'Pedido #' + ${pedido.idPedido}"></h2>
							<p th:text="${pedido.horaInicio.getHours() + ':' + pedido.horaInicio.getMinutes() + ':' + pedido.horaInicio.getSeconds()}">00:00:00</p>
							<div class="info-sol">
								<div>
									<p>
										<span th:text="${pedido.estadoPedido.charAt(0)}"></span> status pedido
									</p>
								</div>

								<div>
									<p class="items" data-toggle="modal" th:attr="data-target='#modal_'+${pedido.idPedido}">
										<span th:text="${pedido.itens.size()}"></span> n° produtos
									</p>

									<div class="modal fade" th:id="modal_+${pedido.idPedido}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">
														Pedido #<span th:text="${pedido.idPedido}"></span> - Produtos
													</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<table class="table">
														<tr>
															<td>Nome Produto</td>
															<td>Quantidade</td>
														</tr>
														<tr th:each="item : ${pedido.itens}" th:object="${item}">
															<td th:text="*{nomeProduto}"></td>
															<td th:text="*{quantidade}"></td>
														</tr>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="info_buttons">
								<a class="link-yellow" th:href="@{/abrir-cozinha(id=*{pedido.idPedido})}">Encaminhar</a>
								<a class="link-yellow-reverse" th:href="@{/fechar-pedido(id=*{pedido.idPedido})}">Fechar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>