<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-warning">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="#navbarToggleExternalContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      	<a href="/"><img src="./img/logo.png" style="height: 40px;" alt="Logo"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn botao-cor" href="/pedido">Pedido</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn botao-cor" href="/mesa">Mesa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn botao-cor" href="/funcionario">Funcionario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn botao-cor" href="/produto-listagem">Produto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn botao-cor" href="/cozinha">Cozinha</a>
      </li>
      <li class="nav-item" style="margin-left: auto">
      	<a href="/"><img src="./img/logout.png" style="height: 40px;" alt="Logout"></a>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>