<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-warning">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item text-center mb-lg-0 mb-sm-2 mb-2">
      	<a href="/"><img src="./img/logo.png" class="logo-menu" alt="Logo Pastelaria"></a>
      </li>
      <li class="nav-item d-sm-block d-lg-inline-block mb-lg-0 mb-sm-1 mb-1">
        <a class="nav-link btn botao-cor" href="/pedido-listagem">Pedido</a>
      </li>
      <li class="nav-item d-sm-block d-lg-inline-block mb-lg-0 mb-sm-1 mb-1">
        <a class="nav-link btn botao-cor" href="/mesa">Mesa</a>
      </li>
      <li class="nav-item d-sm-block d-lg-inline-block mb-lg-0 mb-sm-1 mb-1">
        <a class="nav-link btn botao-cor" href="/funcionario-listagem">Funcionário</a>
      </li>
      <li class="nav-item d-sm-block d-lg-inline-block mb-lg-0 mb-sm-1 mb-1">
        <a class="nav-link btn botao-cor" href="/produto-listagem">Produto</a>
      </li>
      <li class="nav-item d-sm-block d-lg-inline-block mb-lg-0 mb-sm-1 mb-1">
        <a class="nav-link btn botao-cor" href="/cozinha">Cozinha</a>
      </li>
      <li class="nav-item mb-lg-0" style="margin-left: auto">
      	<a href="/"><img src="./img/logout.png" style="height: 40px;" alt="Logout"></a>
      </li>
    </ul>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sair" />
    </form>
  </div>
</nav>
</body>
</html>