<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/error/style.css">
  <title>Acesso Negado</title>
</head>
<body>
  <div class="general">
    <p class="icon">
      <i class="material-icons">https</i>
    </p>
    <p class="text">
      Acesso Negado!
    </p>
    <a href="/perfil">Voltar para página <span class="link">perfil</span></a>
  </div>
</body>
</html>