* {
	font-family: Arial !important;
}

li.nav-item {
    margin: 0px 10px;
}

img {
	max-width: 100%;
}

.title-form {
	text-align: center;
	color: #472907;
	font-weight: bolder;
}

td, th {
	text-align: center !important;
}

.botao-cor {
	background-color: #472907 !important;
	padding: 6px 26px !important;
	color: white !important;
}

.botao-cor:hover {
	background-color: #D07208 !important;
} 

.body-padding {
	padding: 10px 10px;
}
