* {
	font-family: Arial !important;
	box-sizing: border-box;
}

li.nav-item {
    margin: 0px 10px;
}

img {
	max-width: 100%;
}

.alinhamento label {
	text-align: right;
}

.title-form {
	text-align: center;
	color: #472907;
	font-weight: bolder;
}

td, th {
	text-align: center !important;
}

.botao-cor {
	background-color: #472907 !important;
	padding: 6px 26px !important;
	color: white !important;
}

.general {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.general > .form-register {
	width: 100%;
	padding: 0 15px;
}

.general > .table-register {
	width: 100%;
	padding-top: 10px;
}

.botao-cor:hover {
	background-color: #D07208 !important;
} 

@media (min-width: 992px) {
	.general {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	
	.general > .form-register {
		width: 40%;
		padding-right: 32px;
		margin-right: 2%;
		height: 100%;
	}
	
	.general > .table-register {
		width: 58%;
		padding-top: 10px;
		height: 100%;
	}
	
	.body-padding {
		padding: 0 10px;
	}
}