<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<meta charset="utf-8">
<body>
	<div th:fragment="conteudo">
		<div class="body-padding">
			<section class="general">
				<div class="menu-bar">
					<img src="./img/list.svg" id="1" />
					<img src="./img/person.svg" id="2" />
					<img src="./img/update.svg" id="3" style="padding-right: 3px" />
				</div>
				
				<div class="table-data">
					<div class="table-register bg-light">
						<h2>Funcionários Cadastrados</h2>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Nome Completo</th>
									<th>CPF</th>
									<th>Cargo</th>
									<th>Jornada Semanal</th>
									<th>Remuneração</th>
									<th>Excluir</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Elian Melo Morais</td>
									<td>000.000.000-00</td>
									<td>Garçom</td>
									<td>14h</td>
									<td>R$70,00</td>
									<td>
										<button type="button" class="btn btn-default btn-xs">
											<img src="./img/delete.png" alt="">
										</button>
									</td>
		
								</tr>
								<tr>
									<td>Elian Melo Morais</td>
									<td>000.000.000-00</td>
									<td>Garçom</td>
									<td>14h</td>
									<td>R$70,00</td>
									<td>
										<button type="button" class="btn btn-default btn-xs">
											<img src="./img/delete.png" alt="">
										</button>
									</td>
								</tr>
								<tr>
									<td>Elian Melo Morais</td>
									<td>000.000.000-00</td>
									<td>Garçom</td>
									<td>14h</td>
									<td>R$70,00</td>
									<td>
										<button type="button" class="btn btn-default btn-xs">
											<img src="./img/delete.png" alt="">
										</button>
									</td>
								</tr>
								<tr>
									<td>Elian Melo Morais</td>
									<td>000.000.000-00</td>
									<td>Garçom</td>
									<td>14h</td>
									<td>R$70,00</td>
									<td>
										<button type="button" class="btn btn-default btn-xs">
											<img src="./img/delete.png" alt="">
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="form-register disabled">
				 	<div class="form-user-register bg-light">
						<h2 class="title-section">Cadastro de Funcionário</h2>
						<form class="form" action="" method="POST" role="form">
							<div class="form-group-general">
								<div class="form-group columns-3">
									<label for="nomeCompleto" class="col-form-label">Nome Completo</label>
									<div>
										<input type="text" class="form-control" id="nomeCompleto">
									</div>
								</div>
								<div class="form-group columns-3">
									<label for="cpf" class="col-form-label">CPF</label>
									<div>
										<input type="text" class="form-control" id="cpf">
									</div>
								</div>
								<div class="form-group columns-3">
									<label for="cpf" class="col-form-label">RG</label>
									<div>
										<input type="text" class="form-control" id="rg">
									</div>
								</div>
							</div>
							
							<div class="form-group-general">
								<div class="form-group columns-4">
								 	<label for="nascimento" class="col-form-label">Data de nascimento</label>
									<div>
										<input type="date" class="form-control" id="nascimento" style="text-align: center">
									</div>
								</div>
								
								<div class="form-group columns-8">
									<label for="filiacao" class="col-form-label">Filiação</label>
									<div>
										<input type="text" class="form-control" id="filiacao">
									</div>
								</div>
							</div>
							
							<div class="form-group-general">
								<div class="form-group columns-2">
									<label for="cargo" class="col-form-label">Cargo</label>
									<div>
										<input type="text" class="form-control" id="cargo">
									</div>
								</div>
								<div class="form-group columns-2">
									<label for="ctps" class="col-form-label">CTPS</label>
									<div>
										<input type="text" class="form-control" id="ctps">
									</div>
								</div>
							</div>
							
							<div class="form-group-general">
								<div class="form-group columns-2">
									<label for="jornadaSemanal" class="col-form-label">Jornada Semanal</label>
									<div>
										<input type="text" class="form-control" id="jornadaSemanal">
									</div>
								</div>
								<div class="form-group columns-2">
									<label for="remuneracao" class="col-form-label">Remuneração</label>
									<div>
										<input type="text" class="form-control" id="remuneracao">
									</div>
								</div>		
							</div>
				
							<button type="submit" class="btn btn-primary my-3">Cadastrar</button>
						</form>
					</div>
				</div>
				
				<div class="form-update disabled">
					<div class="form-user-register bg-light">
						<h2 class="title-section">Atualizar dados do Funcionário</h2>
						<form class="form" action="" method="POST" role="form">
							<div class="form-group-general">
								<div class="form-group columns-3">
								 	<label for="nascimento" class="col-form-label">Funcionário</label>
									<div>
										<select class="form-control">
											<option value="">Selecione um funcionário</option>
											<option value="0">Luan Assis 1</option>
											<option value="0">Luan Assis 2</option>
											<option value="0">Luan Assis 3</option>
										</select>
									</div>
								</div>
							</div>
						
							<div class="form-group-general">
								<div class="form-group columns-3">
									<label for="nomeCompleto" class="col-form-label">Nome Completo</label>
									<div>
										<input type="text" class="form-control" id="nomeCompleto">
									</div>
								</div>
								<div class="form-group columns-3">
									<label for="cpf" class="col-form-label">CPF</label>
									<div>
										<input type="text" class="form-control" id="cpf">
									</div>
								</div>
								<div class="form-group columns-3">
									<label for="cpf" class="col-form-label">RG</label>
									<div>
										<input type="text" class="form-control" id="rg">
									</div>
								</div>
							</div>
							
							<div class="form-group-general">
								<div class="form-group columns-4">
								 	<label for="nascimento" class="col-form-label">Data de nascimento</label>
									<div>
										<input type="date" class="form-control" id="nascimento" style="text-align: center">
									</div>
								</div>
								
								<div class="form-group columns-8">
									<label for="filiacao" class="col-form-label">Filiação</label>
									<div>
										<input type="text" class="form-control" id="filiacao">
									</div>
								</div>
							</div>
							
							<div class="form-group-general">
								<div class="form-group columns-2">
									<label for="cargo" class="col-form-label">Cargo</label>
									<div>
										<input type="text" class="form-control" id="cargo">
									</div>
								</div>
								<div class="form-group columns-2">
									<label for="ctps" class="col-form-label">CTPS</label>
									<div>
										<input type="text" class="form-control" id="ctps">
									</div>
								</div>
							</div>
							
							<div class="form-group-general">
								<div class="form-group columns-2">
									<label for="jornadaSemanal" class="col-form-label">Jornada Semanal</label>
									<div>
										<input type="text" class="form-control" id="jornadaSemanal">
									</div>
								</div>
								<div class="form-group columns-2">
									<label for="remuneracao" class="col-form-label">Remuneração</label>
									<div>
										<input type="text" class="form-control" id="remuneracao">
									</div>
								</div>		
							</div>
				
							<button type="submit" class="btn btn-primary my-3">Salvar alteração</button>
						</form>
					</div>
				</div>
				
			</section>	
		</div>
	</div>
</body>
</html>