<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<meta charset="utf-8">
<body>
	<div th:fragment="conteudo">
		<div class="body-padding">
			<section class="general">
				<div class="menu-bar">
					<p class="listar"><img src="./img/delete.png" id="0" /></p>
					<p class="cadastrar"><img src="./img/delete.png" id="1" /></p>
					<p class="atualizar"><img src="./img/delete.png" id="2" /></p>
				</div>
				
				<div class="table-data">
					<p>table-data</p>
				</div>
				
				<div class="form-register disabled">
					<p>form-register</p>
				</div>
				
				<div class="form-update disabled">
					<p>form-update</p>
				</div>
				<!--<div class="bg-light form-register">
					<form class="alinhamento" action="" method="POST" role="form">
						<legend class="title-form">Cadastro de Funcionario</legend>
	
						<div class="form-group row">
							<label for="nomeCompleto" class="col-sm-4 col-form-label">Nome Completo</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="nomeCompleto">
							</div>
						</div>
						<div class="form-group row">
							<label for="cpf" class="col-sm-4 col-form-label">CPF</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="cpf">
							</div>
						</div>
						<div class="form-group row">
							<label for="cpf" class="col-sm-4 col-form-label">RG</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="rg">
							</div>
						</div>
						<div class="form-group row">
							<label for="nascimento" class="col-sm-4 col-form-label">Data de nascimento</label>
							<div class="col-sm-8">
								<input type="date" class="form-control" id="nascimento">
							</div>
						</div>
						<div class="form-group row">
							<label for="filiacao" class="col-sm-4 col-form-label">Filiação</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="filiacao">
							</div>
						</div>
						<div class="form-group row">
							<label for="cargo" class="col-sm-4 col-form-label">Cargo</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="cargo">
							</div>
						</div>
						<div class="form-group row">
							<label for="ctps" class="col-sm-4 col-form-label">CTPS</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="ctps">
							</div>
						</div>
						<div class="form-group row">
							<label for="jornadaSemanal" class="col-sm-4 col-form-label">Jornada Semanal</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="jornadaSemanal">
							</div>
						</div>
						<div class="form-group row">
							<label for="remuneracao" class="col-sm-4 col-form-label">Remuneração</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="remuneracao">
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Cadastrar</button>
					</form>
				</div>
				<div class="table-register">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Nome Completo</th>
								<th>CPF</th>
								<th>Cargo</th>
								<th>Jornada Semanal</th>
								<th>Remuneração</th>
								<th>Excluir</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Elian Melo Morais</td>
								<td>000.000.000-00</td>
								<td>Garçom</td>
								<td>14h</td>
								<td>R$70,00</td>
								<td>
									<button type="button" class="btn btn-default btn-xs">
										<img src="./img/delete.png" alt="">
									</button>
								</td>
	
							</tr>
							<tr>
								<td>Elian Melo Morais</td>
								<td>000.000.000-00</td>
								<td>Garçom</td>
								<td>14h</td>
								<td>R$70,00</td>
								<td>
									<button type="button" class="btn btn-default btn-xs">
										<img src="./img/delete.png" alt="">
									</button>
								</td>
							</tr>
							<tr>
								<td>Elian Melo Morais</td>
								<td>000.000.000-00</td>
								<td>Garçom</td>
								<td>14h</td>
								<td>R$70,00</td>
								<td>
									<button type="button" class="btn btn-default btn-xs">
										<img src="./img/delete.png" alt="">
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>-->
			</section>	
		</div>
	</div>
</body>
</html>