<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./img/favicon.png" width="16" />
    <link rel="stylesheet" href="css/login/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Login | Sandro Pastelaria</title>
  </head>
  <body>
    <section class="box-login">
      <img src="./img/logo.png" alt="Logo Empresa" class="logo" />
      <hr />
      <form action="/" method="post" name="form" th:object="${funcionario}">
        <div>
          <p th:text="${mensagemAcesso}" th:if="${mensagemAcesso != null}" class="message"></p>
        </div>
        <div>
          <p th:text="${messagemLogout}" th:if="${messagemLogout != null}" class="message"></p>
        </div>
        <div th:if="${param.logout}">
          <div class="alert alert-info">You have been logged out.</div>
        </div>

        <div class="form-group field">
          <div>
            <i class="material-icons">person</i>
          </div>
          <input th:field="*{ctpsNum}" id="username" type="text" class="form-control" required />
          <label for="username">Usuário</label>
        </div>
        <div class="form-group field">
          <div>
            <i class="material-icons" width="12">lock_open</i>
          </div>
          <input th:field="*{senha}" id="password" type="password" class="form-control" required />
          <label for="password">Senha</label>
        </div>
        <div class="password-inval">
          <p>Esqueceu sua senha?</p>
          <p>Procure um <b>gerente</b> para alteração da mesma.</p>
        </div>
        <button type="submit" class="btn btn-warning d-block w-100">
          Acessar
        </button>
      </form>
      <hr />
    </section>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
